body{
    margin :0;
    font-family: Helvetica, sans-serif ,Arial;
    background-color: #f0f2f5;
}
main{
    height: 638px;
}
.top-part{
    margin: 80px 270px;
    display: flex;
}
.half{
    width: 50%;
}
.logo img{
    width: 301px;
    height: 106px;
    margin : -28px;
    position: relative;
    top: 27%;
}
.logo p{
    font-size: 28px;
    font-weight: 400;
    position: relative;
    top: 27%;
    margin-top: 14px;
}
.box{
    width: 396px;
    margin: 58px 0 0;
    background-color: #fff;
    padding: 20px 0px 0 ;
    display: inline-block;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    text-align: center;
}
form{
    padding-bottom: 24px;
}
input{
    width: 330px;
    height: 22px;
    border-radius: 5px;
    padding: 10px 16px;
    font-size: 17px;
    border: 1px solid #dddfe2;

}
button{
    border: none;
    border-radius: 6px;
    text-decoration: none;
    padding: 0 16px;
    line-height: 48px;
    color: white;
   font-weight: 600;
    margin: 10px 0;
    cursor: pointer;
}
.submit{
    background-color: #166fe5;
    border-color: #365899;
    font-size: 20px;
    width: 362px;
    font-weight: 700;
}
.create{
    background-color: #42b72a;
    font-size: 17px;
    margin-bottom: -10px;
}
.anc{
    text-decoration: none;
    color: #1877f2;
    font-weight: 500;
    font-size: 14px;
    display: inline-block;
    margin: 10px 0;
    cursor: pointer;
}
.anc:hover{
    text-decoration: underline;
}
input:focus{
    outline: none !important;
    border-color: #166fe5;
    box-shadow: 0 0 2px #719ECE;
    
}
.hr {
    border-top: 2px solid #dadde1af;
    width: 362px;
    margin: 10px 0;
    text-align: center;
    margin-left: 16px;
}

.login{
    text-align: center;
    position: relative;
    left: 10%;
}
.page {
    margin-top: 25px;
    font-size: 14px;
    color: #1c1e21;
} 
.page a{
    text-decoration: none;
    color: black;
    font-weight: 700;
}
.login a:hover{
    text-decoration: underline;
}
footer{
    height: 150px;
    padding-top: 20px;
    width: 100%;
    background-color: #ffffff;
    color: #8a8d91;
    font-size: 12px;

}
.bottom{
    width: 64%;
    margin: 0 18%;
}
.bottom a{
    text-decoration: none;
    color: #8a8d91;
    margin: 0 4px;
}
.bottom hr{
    width: 100%;
}
.bottom a:hover{
    text-decoration: underline;
}
.bottom-2 p{
    margin-left: -8px;
    margin-top: 0px;
}
.bottom-2 a{
    margin: 0 8px 10px;
    display: inline-block;
}
.bottom .copyright{
    margin-top: -10px;
}